.Header {
    height: 72px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1px;
    display: flex;
    padding: 0 35px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 3px 0px #e2e2e2;
}

.icon, .icon:hover {
    color: black;
    text-decoration: none;
}


.G {
    color: #f43346;
}